@import "media";

/* ================== COLORS ================== */
$primaryColor-1: #ffffff;
$primaryColor-2: #ED7465;
$neutralColor-1: #000000;
$neutralColor-2: #d1d2d4;
$secondaryColor: #878787;
$primaryTextColor: #000000;
$secondaryTextColor: #d1d2d4;

body {

  &.home header.top-header {
    position: absolute;
    width: 100%;
    top: 0;
  }

  header {
    &.top-header {
      background: transparent;
      .company-logo img {
        width: 11rem;
      }

      .desktop-primary-menu ul li, .desktop-secondary-menu ul li {
        margin-left: 2.5rem;
        font-size: 1.8rem;
        font-family: "Sacramento";
      }
    }
  }

  footer{
    padding: 1rem 0 3rem 0;
    border-top: 1px solid #b9b9b9;
  }

  .copyright-wrapper.container {
    padding: 0;
    background: transparent;
    color: $primaryTextColor;
    >* div{
      opacity: 0.5;
    }
  }
}
