@import "media";

/* ================== COLORS ================== */
$primaryColor-1: #ffffff;
$primaryColor-2: #ED7465;
$neutralColor-1: #000000;
$neutralColor-2: #d1d2d4;
$secondaryColor: #878787;
$primaryTextColor: #000000;
$secondaryTextColor: #d1d2d4;

body {
  color: $secondaryColor;
  .page-wrapper {
    margin: 0;
  }

  .text-center {
    text-align: center;
  }

  p{
    line-height: 1.8rem;
  }

  .circle {
    border-radius: 50%;
  }

  h1, h2, h3, h4, h5 {
    color: $primaryColor-2;
  }

  h1.decor{
    font-family: Sacramento;
    color: $primaryTextColor;
    font-size: 3rem;
    font-weight: 400;
  }

  h1{
    @include respond-to(extra-small){
      font-size: 1.8rem;
    }
  }

  &.home header.top-header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
    padding-top: 2rem;
  }

  header {
    &.top-header {
      background: transparent;
      .company-logo img {
        width: 10rem;
      }

      .desktop-primary-menu ul li, .desktop-secondary-menu ul li {
        margin-left: 2.5rem;
        font-size: 1.81rem;
        font-family: "Sacramento";

        &.black a {
          color: $primaryTextColor;
        }
      }
    }
  }

  main {
    section {
      padding: 6rem 0;

      .quotation {
        font-size: 3rem;
        color: $primaryTextColor;
        font-family: "Sacramento";

        @include respond-to(extra-small){
          font-size: 2.2rem;
        }
      }

      .person {
        font-weight: 700;
        color: $secondaryColor;
      }

      &.parallax {
        color: white;
        background: url(https://wp-blog-dir.s3.amazonaws.com/uploads/sites/31/2017/06/scala_postriore_villa-dark.jpg) no-repeat fixed;
        background-size: cover;

        h1 {
          color: white;
          font-family: Sacramento;
          font-size: 3rem;
          font-weight: 400;

          @include respond-to(extra-small){
            font-size: 2.4rem;
          }
        }
      }

      p.small {
        max-width: 600px;
        margin: auto;
      }

      .description{
        .wed-title {
          font-weight: 800;
          font-size: 1.3rem;
          margin: 0.6rem 0;
        }

        h1{
          font-family: Sacramento;
          font-size: 2.8rem;
          font-weight: 400;
        }
      }

      img.wed-logo {
        margin: 15vh auto;
      }
    }

    .btn {
      display: inline-flex;
      margin-top: 1.5rem;
      color: $primaryColor-1;
      font-weight: 600;
      font-size: 0.9rem;
      background: $primaryColor-2;
      border:1px solid $primaryColor-2;
      padding: 0.7rem 3rem;
      transition: 0.4s all ease-in-out;

      &:hover{
        text-decoration: none;
        background: $primaryTextColor;
      }
    }
  }

  footer.container {
    padding: 2rem 0 3rem 0;
    border-top: 1px solid #b9b9b9;

    h2.widget-title {
      color: $secondaryColor;
      font-weight: 500;
      font-size: 1.3rem;
    }

    .textwidget {
      display: flex;
      padding: 0.5rem 0;

      img{
        display: inline-block;
        height: 2.5rem;
        margin-right: 1rem;
      }

      .links{
        display: inline-block;
        a{
          margin-bottom: 0.4rem;
          display: block;
          color: $primaryTextColor;
        }
      }
    }

    @include respond-to(medium-up){
      div.widget {
        margin-left: -15px;
      }
    }
  }

  .copyright-wrapper.container {
    padding: 0;
    background: transparent;
    color: $primaryTextColor;
    > * div {
      opacity: 0.6;
    }
  }
}
