@import "media";

/* ================== COLORS ================== */
$primaryColor-1: #ffffff;
$primaryColor-2: #ED7465;
$neutralColor-1: #000000;
$neutralColor-2: #d1d2d4;
$secondaryColor: #878787;
$primaryTextColor: #000000;
$secondaryTextColor: #d1d2d4;

body {



}
